.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 40%;
     background: #dffffa;
}
.search input {
    border: none;
    background: #dffffa;
    padding: 10px 25px;
    height: 50px;
    font-size: 18px;
    color: #555;
}
.search button {
    border:0;
    background: #dffffa;
}
